/* Platforms Section */
.platforms {
  padding: 20px 0;
  background: #f0f4f8;
}
.platform-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1500px;
  margin: 0 auto;
}
.platform-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.platform-image {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
}

.platform-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.platform-content .section-title {
  align-items: flex-start;
}

.platform-content .section-title p {
  text-align: left;
}

.platform-features {
  display: grid;
  grid-template-columns: auto auto;
  gap: 15px;
}

.feature {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feature i {
  color: var(--success);
}

@media (max-width: 768px) {
  .platform-content .section-title {
    align-items: center;
  }
  .platforms {
    padding: 20px 0;
  }
  .platform-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
